{% extends "_base.html" %}
{% block content %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
<script>
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    }
    return true;
  }

  function showPosition(position) {
    var latitude = document.getElementById("latitude");
    var longitude = document.getElementById("longitude");
    latitude.value = position.coords.latitude;
    longitude.value = position.coords.longitude;
  }

  document.body.onload = function(){getLocation()};

</script>
<div>
<h1>{{ _('Add Coffee Shop') }}</h1>
<hr /><br />
<form action="{{ url_for('coffee.add_shop') }}" method="POST" name="add_shop_form" id="add_shop_form" enctype="multipart/form-data" >
  {{ form.hidden_tag() }}
  {{ render_field_with_errors(form.name) }}
  {{ render_field_with_errors(form.address) }}
  {{ render_field_with_errors(form.url) }}
  {{ render_field_with_errors(form.photo) }}
  {{ render_field(form.submit) }}
</form>
</div>

{% endblock %}
