{% extends "_base.html" %}
{% block content %}

  <h1>{{ shop.name }}</h1>
  {% if shop.photo %}
    <div>
      <img
          class="photo"
          src="{{ '' | env_override('S3_LOCATION') }}/{{ '' | env_override('S3_BUCKET') }}/{{ shop.photo }}"
          alt="{{ shop.name }} photo"
      />
    </div>
  {% endif %}
  <p><strong>Address:</strong> {{ shop.address }}</p>
  {% if shop.url %}
  <p><a href="{{ shop.url }}">{{ shop.url }}</a></p>
  {% endif %}
  <h2>Reviews</h2>
  <p><a href="{{ url_for('coffee.add_review', shop_id=shop.id) }}">Add your review!</a></p>
{% endblock %}
