{% extends "_base.html" %}
{% block content %}

<div>
  <h1>{{ shop.name }}</h1>
  <hr /><br />
  {% if shop.photo %}
    <div>
      <img class="photo" src="{{ shop.photo }}" alt="{{ shop.name }} photo"/>
    </div>
  {% endif %}
  <p><strong>Address:</strong> {{ shop.address }}</p>
  {% if shop.url %}
  <p><a href="{{ shop.url }}">{{ shop.url }}</a></p>
  {% endif %}
  <h2>Reviews</h2>
  {% if avg_rating is not none %}
    <p>{{ (avg_rating * 100)|round|int }}% of customers think this is a great coffee!</p>
  {% else %}
    <p>No reviews yet. Why not try it out?</p>
  {% endif %}
  <p><a href="{{ url_for('coffee.add_review', shop_id=shop.id) }}">Add your review!</a></p>
  {% if review_comments %}
    <ul>
  {% for review in review_comments %}
      <li>{{ review.comment }}</li>
  {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}
